<div class="comments">
  {{#each this}}
  <section class="comment">
<div class="meta">
  <div class="posted_by">
  {{user.username}} commented: 
  </div>
  <a href="/movie/{{id}}">{{comments.length}}</a>
</div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>
