<section>
  <ol class="movie-max">
    <div class="movie-wrapper">
    <li class="movie-spacing">
      {{> book-info books}}
    </li>
  </div>
  </ol>
</section>
{{#if loggedIn}}
<form class="book-comment-form comment-form">
  <div>
    <textarea id="comment-body" name="book-comment-body"></textarea>
  </div>
  <div class="add-comment">
    <button id="add-comment-button" type="submit" onclick='goBack()'>add comment</button>
  </div>
{{/if}}

{{> comments books.comments}}
</form>
{{#if loggedIn}}
<script src="/javascript/book-comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}