{{!-- <section>
  <h2 class="title-top dashboard-title">Add New Movie</h2>
  <form class="new-post-form">
    <label id="media" for="media">Choose Your Media Type:</label>
    <select name="books-movies" id="books-movies">
      <option id="movies-selection">Movies</option>
      <option id="books-selection">Books</option>
    </select>
    <div>
      <label for="post-title">Movie Title</label>
      <input type="text" class="post-title" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Movie Cover Image URL</label>
      <input type="text" class="post-title" id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-url">Director</label>
      <input type="text" class="post-title" id="post-director" name="post-director" />
    </div>
    <div>
      <label for="post-url">Actors/Actresses</label>
      <input type="text" class="post-title" id="post-actors" name="post-actors" />
    </div>
    <div class="save-delete-buttons">
      <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>
<hr style="border: 4px solid blue;" />
{{#if movies.length}}
  <h2 class="title-top dashboard-title">Your Media</h2>
<section>
  <ol class="movie-max">
    <div class="movie-wrapper">
    {{#each movies as |movie|}}
    <li class="movie-spacing">
      <a href="/dashboard/edit/{{movie.id}}" class="edit-link">Edit</a>
      {{> post-info movie}}
    </li>
    {{/each}}
  </div>
  </ol>
</section>
{{/if}}
</div>
<script src="/javascript/add-post.js"></script> --}}

<section>
  <h2 class="title-top dashboard-title">Add New Movie</h2>
  <form class="new-post-form">
    <label id="media" for="media">Choose Your Media Type:</label>
    <select name="books-movies" id="books-movies">
      <option id="movies-selection">Movies</option>
      <option id="books-selection">Books</option>
    </select>
    <div>
      <label for="post-title">Book Title</label>
      <input type="text" class="post-title" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Book Cover Image URL</label>
      <input type="text" class="post-title" id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-url">Alternative Title</label>
      <input type="text" class="post-title" id="post-director" name="post-director" />
    </div>
    <div>
      <label for="post-url">Author</label>
      <input type="text" class="post-title" id="post-actors" name="post-actors" />
    </div>
    <div class="save-delete-buttons">
      <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>
<hr style="border: 4px solid blue;" />
{{#if books.length}}
<section>
  <h2 class="title-top dashboard-title">Your Media</h2>
  <ol>
    {{#each books as |book|}}
    <li>
      <a href="/dashboard/edit/{{book.id}}" class="edit-link">Edit ({{book_title}})</a>
      {{> book-info book}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
</div>
<script src="/javascript/add-post.js"></script>