<section>
  <h2 class="title-top dashboard-title">Add New Movie</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Movie Title</label>
      <input type="text" class="post-title" type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Movie Cover Image URL</label>
      <input type="text" class="post-title" id="post-url" name="post-url" />
    </div>
    <div>
      <label for="post-url">Director</label>
      <input type="text" class="post-title" id="post-director" name="post-director" />
    </div>
    <div>
      <label for="post-url">Actors/Actresses</label>
      <input type="text" class="post-title" id="post-actors" name="post-actors" />
    </div>
    <div class="save-delete-buttons">
      <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>
<hr style="border: 4px solid blue;" />
{{#if movies.length}}
<section>
  <h2 class="title-top dashboard-title">Your Movies</h2>
  <ol>
    {{#each movies as |movie|}}
    <li>
      <a href="/dashboard/edit/{{movie.id}}" class="edit-link">Edit ({{title}})</a>
      {{> post-info movie}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
</div>
<script src="/javascript/add-post.js"></script>