
  <h2 class="title-top dashboard-title">Latest From Media Collector Community</h2>
<ol class="movie-max">
  <div class="movie-wrapper">
  {{#each movies as |movie|}}
  <li class="movie-spacing">
    {{> post-info movie }} 
    <p> Posted by {{user.username}} on {{format_date created_at}}</p>
  </li>
  {{/each}}
</ol>
</div>