<div class="login-page-img">
  <input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
  <input type="radio" id="toggle--signup" name="toggle" class="ghost" />

  <form class="login-form form form--login framed">
    <input id="username-login"autocomplete="username" type="text" placeholder="Username" class="input input--top" />
    <input id="password-login" autocomplete="current-password" type="password" placeholder="Password" class="input" />
    <input id="login" type="submit" value="Log in" class="input input--submit" />
    
    <label onclick="window.location.href='/signup';" type="click" for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
  </form>

  <script src="/javascript/login.js"></script>
</div>