{{!-- <form class="signup-form">
  <div class="usernamepw">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="usernamepw">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="signup" type="submit">Signup</button>
  </div>
</form> --}}



  <form class="signup-form form form--signup framed">
    <input id= "username-signup" type="text" placeholder="Username" class="input" />
    <input id="password-signup"type="password" placeholder="Password" class="input" />
    <input type="submit" value="Sign up" class="input input--submit" />
  
    <label onclick="window.location.href='/login';" for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
  </form>



<script src="/javascript/signup.js"></script>

