<form class="signup-form">
  <div class="usernamepw">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="usernamepw">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button id="signup" type="submit">Signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>