<form class="signup-form form form--signup framed">
  <input autocomplete="username" id="username-signup" type="text" placeholder="Username" class="input" />
  <section class="signup-section">
    <input placeholder="Password" autocomplete="new-password" type="password" name="password" id="password">
    <meter max="4" id="password-strength-meter"></meter>
    <p id="password-strength-text"></p>
    <input type="submit" value="Sign up" class="input input--submit" />

    <label onclick="window.location.href='/login';" for="toggle--login" class="text text--small text--centered">Not new?
      <b>Log in</b></label>
  </section>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<script src="/javascript/pwstrength.js"></script>
<script src="/javascript/signup.js"></script>