    {{> post-info movie }}
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div class="add-comment">
    <button type="submit" onclick='goBack()'>add comment</button>
  </div>
</form>
{{/if}}

{{> comments movie.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{!-- <script src="node-modules/rater-js/javascript/vote.js"></script> --}}
{{/if}}