<section>
  <ol class="movie-max">
    <div class="movie-wrapper">
    <li class="movie-spacing">
      {{> post-info movie}}
    </li>
  </div>
  </ol>
</section>
{{#if loggedIn}}
<form class="movie-comment-form comment-form">
  <div>
    <textarea id="comment-body" name="movie-comment-body"></textarea>
  </div>
  <div class="add-comment">
    <button id="add-comment-button" type="submit" onclick='goBack()'>add comment</button>
  </div>
{{/if}}

{{> comments movie.comments}}
</form>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}